<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body class="new-body">
    <div class="heading">
        <h1>You can tweet your content here :)</h1>
    </div>
    <div class="formMain">
        <div class="form-container">
            <form action="/tweets" method="post">
                <input id="username" type="text" , name="username" , placeholder="enter username">
                <br>
                <textarea id="content" name="content" placeholder="Write your tweet here!" cols="30"
                    rows="10"></textarea>
                <br>
                <button id="button">tweet</button>
            </form>
        </div>
    </div>
</body>

</html>